.container-404 {
    .content {
        width: 54%;
        margin: 48px auto 56px;

        .words {
            text-align: center;
            // font-family: xianmoFont;
            // font-size: 0.18rem;
        }
    }
    .desc {
        text-align: center;
        font-weight: 700;

        a {
            font-size: 0.14rem;
        }
    }
}
