.container-comment {
	background: $gray-white-300; // #f6f8fa;
	margin-top: 96px;
	border-radius: 8px;
	padding: 4px;
}

.container-comment-giscus {
	margin-top: 96px;
}

.giscus * {
	font-family: $font-family--base !important;

}