.container-comment {
	background: $gray-white-300; // #f6f8fa;
	margin-top: 96px;
	border-radius: 8px;
	padding: 4px;
}

.container-comment-giscus {
	margin-top: 96px;
	opacity: .5;
	transition: .3s opacity linear;
	&:hover {
		opacity: .8;
	}
}