#header {
    // doks header-bar
    @include doks-bar;

    z-index: 1000;
    text-align: center;

    .container-header {
        display: flex;
        justify-content: center;
        position: relative;

        .left {
            .desc {
                padding-top: 12px;
                .img-wrapper {
                    background: #000;
                    border-radius: 50%;
                    padding: 5px;
                    width: 100px;
                    height: 100px;
                    box-sizing: border-box;

                    transition: 0.5s all ease;

                    &:hover {
                        box-shadow: 5px 0 6px #999;
                        transform: translateX(-6%) rotate(360deg);
                    }

                    img {
                        border-radius: 50%;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .right {
            .some {
                position: relative;
                padding: 4px 0px 6px 0px;
                #light-dark {
                    cursor: pointer;
                }
            }

            // 仅在移动端设备显示
            #toc {
                display: none;
            }
        }
    }

    &.header-home {
        .container-header .right {
            max-width: 30%;
        }
    }
}
