$animation-duration: 2s;
body.active-animate {
    // animation: fadeIn $animation-duration;
    // animation: headShake $animation-duration;
    // animation: slideInUp $animation-duration;

    #content {
        animation: fadeIn $animation-duration;
    }

    #header, .content, .container-home, #footer {
        animation: headShake $animation-duration;
    }
}
