body.cool {
	background-color: $white-000;

	&::before {
		content: '';
		display: block;
		width: 100%;
		min-height: 100%;
		position: fixed;
		z-index: -1;
		background: url('/imgs/bg/default.jpg') center center/cover no-repeat fixed;
	}
	
	#header, #content, #footer {
		background-color: $white-800;
        // backdrop-filter: saturate(180%) blur(5px); // saturate(180%)
    }

	#content {
		.container-home {
			.content .words {
				margin: 80px 0px 96px 0%;
			}
		}

		.container-archive {
			.categories, .tags {
				.arc-item {
					background: rgba(245, 245, 245, 0.3);
				}
			}
		}

		padding-bottom: 646px;
	}

	// #footer { }

	pre {
		background-color: $white-300 !important;
	}
	// 以下是为了保证 darkreader 暗色模式下，代码块样式也是透明
	// [data-darkreader-inline-bgcolor] {
	// 	background-color: $white-300 !important;
	// }
	
}