@mixin bg-cool {
    background: $white-500;
    backdrop-filter: saturate(180%) blur(3px);
}

body.cool {
    background-color: $white-000;

    .cool-before {
        display: block;
        width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: url('/imgs/bg/default.jpg') center center/cover no-repeat fixed;
    }

    .cool-after {
        content: '';
        display: block;
        width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.81); // $white-900;
        // 毛玻璃化页面背景
        backdrop-filter: saturate(180%) blur(6px);
    }

    #header {
        // .container-header {
        //     .container-breadcrumb-nav .breadcrumb-nav-bar a {
        //         @include bg-cool;
        //     }
        // }
    }

    #content {
        // === 首页
        .container-home {
            .menu .item a {
                @include bg-cool;
            }

            .content {
                .desc {
                    .words {
                        @include bg-cool;
                    }
                }
            }
        }

        // === 导航页
        .container-nav {
            .toc {
                ul > li > ul > li {
                    // border: 1px solid rgba(255, 255, 255, 0);
                    @include bg-cool;

					a {
						background: $gray-white-500;
					}
                }
            }

            // --- 最近文章
            .recentf {
                @include bg-cool;

                .rec-post-item a {
                    @include bg-cool;
                }
            }

            // --- 固定链接
            .freq a {
                @include bg-cool;
            }

            // --- 导航主体
            .content-nav {
                // .freq a {
                //     background: $white-500;
                // }

                table {
                    tr:nth-child(odd) {
                        a {
                            background: $white-500;
                        }
                    }

                    td {
                        a {
                            @include bg-cool;
                        }
                    }
                }

                li {
                    &:nth-child(even) {
                        @include bg-cool;
                    }
                }
            }
        }

        // === 导航页搜索插件
        .container-ship {
            @include bg-cool;

            .ship > #engine .activated {
                @include bg-cool;
            }
        }

        // === 导航页本地检索
        .container-search {
            .list .item {
                @include bg-cool;
            }
        }

        // === 归档页
        .container-archive {
            .rec-post .rec-post-item {
                a {
                    @include bg-cool;
                }
            }

            .categories,
            .tags {
                .arc-item {
                    @include bg-cool;

                    sup {
                        color: $gray-500;
                    }

                    .arc-post-item a {
                        @include bg-cool;
                    }
                }
            }
        }

        // === 标签/文章列表页
        .container-list {
            .list {
                // .recentf {
                //     @include bg-cool;
                //     .rec-post-item a {
                //         background: $white-300;
                //     }
                // }

                .item-term {
                    border-radius: 0 16px 0 16px;
                }
                .item,
                .item-term {
                    @include bg-cool;
                }
            }
        }

        // === 文章页
        .container-page {
            pre {
                padding: 12px 16px;
            }

            .oh-essay {
                background: #f8f9fa66;
            }
        }

        // === 文章页中的分类/标签
        .container-ctgtag {
            .taxonomy {
                .ctg,
                .tag {
                    a {
                        @include bg-cool;
                    }
                }
            }
        }
    }

    pre {
        background-color: $white-300 !important;
    }
}
