@mixin bg-cool {
	background: $white-500;
	backdrop-filter: saturate(180%) blur(3px);
}

body.cool {
	background-color: $white-000;

	&::before {
		content: '';
		display: block;
		width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		background: url('/imgs/bg/default.jpg') center center/cover no-repeat fixed;
	}

	// 设置 body 遮罩
	&::after {
		content: '';
		display: block;
		width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: rgba(255, 255, 255, .81);	// $white-900;
		// @include bg-cool;

	}
	
	// #header, #content, #footer {
	// 	background-color: $white-800;
    //     backdrop-filter: saturate(180%) blur(5px); // saturate(180%)
    // }

	#header {
		.container-header {
			.container-breadcrumb-nav .breadcrumb-nav-bar a {
				@include bg-cool;
			}
		}
	} 

	#content {
		.container-home {
			.menu .item a {
				@include bg-cool;
			}

			.content {
				.desc {
					.words {
						// margin-left: 0;
						@include bg-cool;
					}
				}
			} 
		}

		.container-nav {
			.content-nav {

				.nav li a {
					@include bg-cool;
				}

				.bookmark li {
					&:nth-child(even) {
						@include bg-cool;
                    }
				}
			} 
		}

		.container-archive {

			.rec-post .rec-post-item {
				a {
					@include bg-cool;
				}
			}

			.categories, .tags {
				.arc-item {
					@include bg-cool;
					
					sup {
						color: $gray-500;
					}
					
					.arc-post-item a {
						@include bg-cool;
					}
				}
			}
		}

		.container-search,
		.container-list {
			.list {
				.item, .item-term {
					@include bg-cool;
				}
			}
		}

		.container-ctgtag {
			.taxonomy {
				.ctg, .tag {
					a {
						@include bg-cool;
					}
				}
			}
		}

		.container-search {
			#search {
				#sc-input {
					&::placeholder {
						color: $white-900;
					}
				}
			}
		}

	}

	// #footer { }

	pre {
		background-color: $white-300 !important;
	}
	// 以下是为了保证 darkreader 暗色模式下，代码块样式也是透明
	// [data-darkreader-inline-bgcolor] {
	// 	background-color: $white-300 !important;
	// }
	
}