@media screen and (max-width: 1026px) {
    @mixin toc {
        transition: .3s all linear;
        right: -300px;
        z-index: 1000;
        background: $white-900;
        height: 400px;
        top: 120px;
        padding-top: 48px;
        border-radius: 8px;

        .page-operation {
            z-index: 1001;
            transition: .5s all linear;
            top: 128px;
            background: $white-900;
            border-radius: 24px;

            right: -300px;
        }
    }

    body {
        $site-padding-lr: 0;

        #header {
            padding: 0 8px;

            .title {
                white-space: nowrap;
                overflow: hidden;
                &:hover {
                    overflow: auto;
                }
            }

            .container-header {
                #toc {
                    z-index: 10000;
                    position: fixed;
                    right: 0px;
                    top: 81px;
                    display: initial;
                    background: $white-900;
                    width: 36px;
                    border-radius: 12px 0 0 12px;
                    padding-left: 12px;
                    box-shadow: -1px 1px 1px #ccc;
                }
            }

        }

        #content {
            padding: 0;
            .container-main {
                overflow: hidden;

            }

            .container-home {
                .img-wrapper {
                    display: none !important;
                }
            }

            .container-nav {
                padding: 0 4px;
                
                .content-nav {
                    .nav ul {
                        justify-content: space-between;
                        li {
                            width: 50%;
                        }
                    }
                }
            }

            .container-list {
                .toc {
                    @include toc;
                }

                .count {
                    padding-left: 12px;
                }

                .list {
                    .recentf {
                        margin: 12px;
                    }

                    .item, .item-term {
                        margin: 12px;
                        background: $post-item-bg-color;

                        >a {
                            background: $gray-white-500;
                        }
                    }

                    .item-term {
                        border-radius: 0 16px 0 16px;
                    }
                }

                .list-single-col {
                    display: flex;
                    width: 100%;
                    padding: 0;

                    .item {
                        width: 100%;
                    }
                }
            }

            .container-page {
                padding: 0 8px 16px;

                .toc {
                    @include toc;
                }
            }

            .container-archive {
                .categories, .tags {
                    .arc-item {
                        width: 96%;
                    }
                }

                padding-bottom: 8px;
            }

            .container-contact {
                .contact .icons {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }

        #footer {
            padding: 16px 8px;
            margin-top: 64px;

            .beian {
                flex-wrap: wrap;
                justify-content: center;

                height: 48px;
            }
        }

        .oh-essay {
            padding-left: 16px;
            // border-left: 1px dashed $essay-color;
        }
    }
}