<!DOCTYPE html>
<html lang="zh-CN">
    {{- partial "head.html" . -}}
    <body class="{{ with .Site.Params.hasActiveAnimate }}active-animate{{ end }} {{ with .Site.Params.hasActiveCool }}cool{{ end }}">
        <div class="cool-before" style="{{ if .Site.Params.hasActiveCool }}background: url('/imgs/bg/{{.Site.Params.coolBackground}}') center center/cover no-repeat fixed;{{ end }}"></div>
        <div id="header">
            {{- partial "header.html" . -}}
        </div>
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        <div id="footer">
            {{- partial "footer.html" . -}}
        </div>
        <div class="cool-after" style="{{ if .Site.Params.hasActiveCool }}background-color: rgba(255, 255, 255, {{.Site.Params.coolOpacity}});{{end}}"></div>
    </body>
</html>
