{{ define "main" }}
<div class="container-main container-list">
    <div class="content">
        {{ .Content }}
    </div>

    {{ if ne .Kind "taxonomy"}} 
        <div class="count">共有 {{ len .Pages }} 篇文章</div>
    {{ end }}
    
    <div class="list">
    {{ range .Paginator.Pages }}
        {{if ne .Title "Secrets" }}
        <!-- 📄 ➣ 📂 -->
        <div class="{{with .IsPage}}item{{ else }}item-term{{end}}" >
           
            <!-- if eq .Kind "page" -->
            <a href="{{.Permalink}}">
                <span>{{ with .IsPage}} <img src="/imgs/icons/post-3.svg" width="16" /> {{else}} <img src="/imgs/icons/ctg.svg" width="16" /> {{end}}</span>
                <span class="date">{{.Date.Format "2006-01-02"}} </span>
                <span> {{.Title}} <sup>{{if not .IsPage}}{{len .Pages}}{{ end }}</sup></span>
            </a>
            
            {{ if .IsPage }}
                {{- partial "partials/_ctgtag.html" . -}}
                <div class="summary">{{ .Summary | markdownify  }}</div>
            {{ end }}

        </div>
        {{ end }}
    {{ end }}
    </div>

    <div class="container-pagination">
    {{ template "_internal/pagination.html" . }}
    </div>
</div>
{{ end }}
