{{ define "main" }}
{{ $IsNav := eq .Title "Navigations"}}
{{ $IsSearch := eq .Title "Search"}}
<div class="container-main {{ with not $IsNav}} container-page {{ else }} container-nav {{ end }}">
    <!-- 文章页模板：
    - .Type/posts .Kind/page .Section/posts
    -->


    <div class="desc">
        {{if not $IsSearch }}
        <span>{{ .Date.Format "2006-01-02" }}</span>
        <span>字数：{{ .WordCount }}</span>
        <span>阅读：{{ .ReadingTime }} 分钟</span>
        {{ end }}
    </div>
    
    <div class="toc">
        {{ if and .IsPage (not $IsNav) (not $IsSearch) }}
        <div class="page-operation">
            <div><a href="#"><img src="/imgs/icons/arrow-up-circle.svg" alt=""></a></div>
            <div>{{with .NextInSection}}<a href="{{.Permalink}}"><img src="/imgs/icons/arrow-left-circle.svg" alt=""></a>{{end}}</div>
            <div>{{with .PrevInSection}}<a href="{{.Permalink}}"><img src="/imgs/icons/arrow-right-circle.svg" alt=""></a>{{end}}</div>
        </div>
        {{end}}
        {{ $.TableOfContents }}
    </div>

    <div class='content {{with not $IsNav}} content {{ else }} content-nav {{end}}{{with .Params.card}} content-card {{ end }}'>
        {{ .Content }}

    </div>

    {{ if and .IsPage (not $IsNav) (not $IsSearch) }}
        {{- partial "partials/_prevnext.html" . -}}
    {{ end }}

    <!-- 导航页设置 -->
    <!-- partial "nav.html" . -->
    {{ if eq .Title "Navigations" }}

    {{ end }}

</div>
{{ end }}
