@font-face {
    font-family: jostFont;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Jost Regular Regular'), local('Jost-Regular'), local('Jost* Book'),
        local('Jost-Book'),
        url('fonts/jost/jost-v4-latin-regular.woff2') format('woff2'),
        url('fonts/jost/jost-v4-latin-regular.woff') format('woff');
}
@font-face {
    font-family: jostFont;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Jost Regular Medium'), local('JostRoman-Medium'),
        local('Jost* Medium'), local('Jost-Medium'),
        url('fonts/jost/jost-v4-latin-500.woff2') format('woff2'),
        url('fonts/jost/jost-v4-latin-500.woff') format('woff');
}
@font-face {
    font-family: jostFont;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Jost Regular Bold'), local('JostRoman-Bold'), local('Jost* Bold'),
        local('Jost-Bold'),
        url('fonts/jost/jost-v4-latin-700.woff2') format('woff2'),
        url('fonts/jost/jost-v4-latin-700.woff') format('woff');
}
@font-face {
    font-family: jostFont;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Jost Italic Italic'), local('Jost-Italic'), local('Jost* BookItalic'),
        local('Jost-BookItalic'),
        url('fonts/jost/jost-v4-latin-italic.woff2') format('woff2'),
        url('fonts/jost/jost-v4-latin-italic.woff') format('woff');
}
@font-face {
    font-family: jostFont;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Jost Italic Medium Italic'), local('JostItalic-Medium'),
        local('Jost* Medium Italic'), local('Jost-MediumItalic'),
        url('fonts/jost/jost-v4-latin-500italic.woff2') format('woff2'),
        url('fonts/jost/jost-v4-latin-500italic.woff') format('woff');
}
@font-face {
    font-family: jostFont;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Jost Italic Bold Italic'), local('JostItalic-Bold'),
        local('Jost* Bold Italic'), local('Jost-BoldItalic'),
        url('fonts/jost/jost-v4-latin-700italic.woff2') format('woff2'),
        url('fonts/jost/jost-v4-latin-700italic.woff') format('woff');
}

@font-face {
    font-family: josefinSansFont;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/josefin/lhLzTs.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: josefinSansFont;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/josefin/hhLzTs.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: josefinSansFont;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/josefin/ZhLw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: romanFont;
    src: url('fonts/roman/Code-New-Roman-5.otf') format('TrueType'),
        url('fonts/roman/Code-New-Roman-6.woff') format('TrueType'),
        url('fonts/roman/Code-New-Roman-i-3.otf') format('TrueType'),
        url('fonts/roman/Code-New-Roman-i-4.woff') format('TrueType'),
        url('fonts/roman/Code-New-Roman-b-1.otf') format('TrueType'),
        url('fonts/roman/Code-New-Roman-b-2.woff') format('TrueType');
}

@font-face {
    font-family: jinkaiFont;
    src: url('fonts/ttfs/jinkai.ttf') format('TrueType');
}

@font-face {
    font-family: xianmoFont;
    src: url('fonts/ttfs/xianmo.ttf') format('TrueType');
}

@font-face {
    font-family: daxiangFont;
    src: url('fonts/ttfs/daxiang.ttf') format('TrueType');
}

@font-face {
    font-family: segoeFont;
    src: url('fonts/segoe/segoesc.ttf') format('TrueType'),
        url('fonts/segoe/segoescb.ttf') format('TrueType');
}
