@import 'scss/libs/animate.min';

@import 'scss/init/taobao';
@import 'scss/init/fonts';
@import 'scss/init/vars';
@import 'scss/init/scrollbar';

@import 'scss/custom';
@import 'scss/animation';

@import 'scss/partials/header';
@import 'scss/partials/content';
@import 'scss/partials/_ctgtag';
@import 'scss/partials/_contact';
@import 'scss/partials/_prevnext';
@import 'scss/partials/_comment';
@import 'scss/partials/_pagination';
@import 'scss/partials/404';
@import 'scss/partials/footer';
@import 'scss/partials/_media';

@import 'scss/mobile';

@import 'scss/cool';

