<div class="container-archive">
    <div class="count">共有 {{ len .Pages }} 篇文章</div>
    
    <!-- 最近文章 -->
    <div class="recentf">
        {{  range first 8 .Site.RegularPages.ByLastmod.Reverse }}
        <!-- {{.Type}} -->
        {{ if eq .Type "page" }}
        <div class="rec-post">
            <div class="rec-post-item">
                <a href="{{.Permalink}}">{{ .Title }}</a>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    
	<!-- 标签 -->
    <!-- <div class="desc">标签: </div> -->
    <div class="tags">
        {{ range .Site.Pages.ByTitle }}
            {{ if and (eq .Type "tags") (ne .Title "Tags") (ne .Title "Secrets")}}
                <div class="arc-item">
                    <div class="arc-desc">
                        <a href="{{.Permalink}}"><img src="/imgs/icons/tag.svg" width="16" /> {{ .Title }} <sup>{{len .Pages}}</sup></a>
                    </div>

                    <div class="arc-post">
                        {{ range .Pages }}
                        <!-- 适配 Obsidian 的 Templater 插件的 Front Matter -->
                        {{if (ne .Title "<% tp.file.title %>")}}
                        <div class="arc-post-item">
                            <a href="{{.Permalink}}">{{ .Title }}</a>
                        </div>
                        {{ end }}
                        {{end}}
                    </div>
                </div>
            {{ end}}
        {{ end }}
    </div>

</div>
