<div class="container-breadcrumb-nav">
    <!-- 面包屑导航🔎🎯 -->
    <div class="breadcrumb-nav-bar">
        <div><a href="/search"><img src="/imgs/icons/search-2-line.svg" width="14"></a></div>
        <div><a href="/nav"><img src="/imgs/icons/iov-navigate.svg" width="16"></a></div>
        <div><a href="/posts"><img src="/imgs/icons/post.svg" width="12"></a></div>
        <div><a href="/archive"><img src="/imgs/icons/category.svg" width="12"></a></div>
        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </div>

    {{ define "breadcrumbnav" }}
        {{ if .p1.Parent }}
            {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
        {{ else if not .p1.IsHome }}
            {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
        {{ end }}

        <div  {{ if eq .p1 .p2 }} class="active" {{ end }}>
            <a href="{{ .p1.Permalink }}">{{ .p1.Title }} &nbsp;</a>
        </div>
    {{ end }}
</div>
