<div class="container-breadcrumb-nav">
    <!-- 面包屑导航🔎🎯 -->
    <div class="breadcrumb-nav-bar">
        <div><a href="/" style="width: 16px;"><img src="/imgs/icons/home.svg"></a></div>
        <div><a href="/nav" style="width: 16px;"><img src="/imgs/icons/iov-navigate.svg"></a></div>
        <div><a href="/search" style="width: 14px;"><img src="/imgs/icons/search-2-line.svg"></a></div>
        <div><a href="/posts" style="width: 12px;"><img src="/imgs/icons/post.svg"></a></div>
        <div><a href="/archive" style="width: 12px;"><img src="/imgs/icons/category.svg"></a></div>
        <div id="light-dark" ><a style="width: 12px;"><img src="/imgs/icons/dark.svg"></a></div>
        <!-- {{ template "breadcrumbnav" (dict "p1" . "p2" .) }} -->
    </div>

    {{ define "breadcrumbnav" }}
        {{ if .p1.Parent }}
            {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
        {{ else if not .p1.IsHome }}
            {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
        {{ end }}

        <div  {{ if eq .p1 .p2 }} class="active" {{ end }}>
            <a href="{{ .p1.Permalink }}">{{ .p1.Title }} &nbsp;</a>
        </div>
    {{ end }}
</div>
