<div class="container-comment-giscus">
        <script src="https://giscus.app/client.js"
        data-repo="{{.Site.Params.giscus.repo}}"
        data-repo-id="{{.Site.Params.giscus.repoId}}"
        data-category="{{.Site.Params.giscus.category}}"
        data-category-id="{{.Site.Params.giscus.categoryId}}"
        data-mapping="{{.Site.Params.giscus.mapping}}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="{{.Site.Params.giscus.inputPosition}}"
        data-theme="{{.Site.Params.giscus.theme}}"
        data-lang="{{.Site.Params.giscus.lang}}"
        data-loading="lazy"
        crossorigin="{{.Site.Params.giscus.crossorigin}}"
        async>
        </script>
</div>