<div class="container-comment-giscus">
        <script src="https://giscus.app/client.js"
        data-repo="{{.Site.Params.giscus.repo}}"
        data-repo-id="R_kgDOJNJQ8g"
        data-category="General"
        data-category-id="DIC_kwDOJNJQ8s4CYl0m"
        data-mapping="{{.Site.Params.giscus.mapping}}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="{{.Site.Params.giscus.theme}}"
        data-lang="{{.Site.Params.giscus.lang}}"
        crossorigin="{{.Site.Params.giscus.crossorigin}}"
        async>
        </script>
</div>