<div class="container-localsearch">
    <div id="data" style="display: none;">
        {{ range where .Site.Pages "Kind" "page" }}
        {{ if (and (ne .Section "snippets") (ne .Section "diaries") (ne .Section "stories"))}}
        [{{- dict
        "title" (lower .Title)
        "permalink" .Permalink
        "date" (.Date | time.Format "2006-01-02")
        "summary" .Summary
        "content" (lower .Plain)
        | jsonify -}},]
        {{ end }}
        {{ end }}
    </div>

    <div id="search">
        <!-- 🔎 -->
        <!-- <span class="sc-icon"><img src="/imgs/icons/search.svg" width="48"> </span> -->
        <span class="sc-icon"><img src="/imgs/icons/search-in.svg" width="18"> </span>
        <!-- 🔗  -->
        <input id="sc-input" type="text" placeholder="site inn search search..." autocomplete="off" />
        <span id="sc-clear">&nbsp;✖</span>
        <div id="sc-res"></div>
    </div>
    <!-- <script src="/js/search.js" defer></script> -->
</div>