<div class="container-ship">
	{{ if .Site.Params.contact.github }}
	<div class="github-star">
		<a href="https://github.com/{{.Site.Params.contact.github}}">
			<img src="https://img.shields.io/github/stars/{{.Site.Params.contact.github}}?affiliations=OWNER&style=social" alt="">
		</a>
	</div>
	{{ end }}

	<div class="contact">
		{{- partial "partials/_contact.html" . -}}
	</div>

	<div class="ship">
		<div id="search">
			<!-- 🔎 -->
			<!-- <span class="sc-icon"><img src="/imgs/icons/search.svg" width="48"> </span> -->
			<input id="sc-input" type="text" placeholder="here search search..." autocomplete="off" />
			<span id="sc-clear">&nbsp;✖</span>
		</div>

		<div id="engine">
			<!-- 🌞😈⚡🔥☁️ -->
			<span id="by">Bing</span>
			<span style="width: 36px;" id="go"> ☁️ </span>
			<span id="bd">Baidu</span>
		</div>


	</div>
</div>