<div class="container-ship">
	{{ if .Site.Params.contact.github_user }}
	<div class="github-star">
		<a href="https://github.com/{{.Site.Params.contact.github_user}}">
			<img src="https://img.shields.io/github/stars/{{.Site.Params.contact.github_user}}?affiliations=OWNER&style=social"
				alt="">
		</a>
	</div>
	{{ end }}

	<div class="contact">
		{{- partial "partials/_contact.html" . -}}
	</div>

	<div class="ship">
		{{ if .Site.Params.isShowLocalSearch }}
		<div id="local-search">
			{{- partial "partials/_localsearch.html" . -}}
		</div>
		{{ end }}

		<div id="search">
			<!-- 🔎 -->
			<!-- <span class="sc-icon"><img src="/imgs/icons/search.svg" width="48"> </span> -->
			<span class="sc-icon"><img src="/imgs/icons/search-out2.svg" width="18"> </span>
			<!-- 🚀  -->
			<input id="ship-input" type="text" placeholder="site out search search..." autocomplete="off" />
			<span id="ship-clear">&nbsp;✖</span>
		</div>

		<div id="engine">
			<!-- 🌞😈⚡🔥☁️ -->
			<span id="by">Bing</span>
			<span style="width: 36px;" id="go"> ☁️ </span>
			<span id="bd">Baidu</span>
		</div>


	</div>
</div>