{{ define "main" }}
<div class="container-404">
    <div class="content">
        <!-- <img src="/imgs/404.gif" /> -->
        <div class="words">

                <b>普希金 《假如生活欺骗了你》</b>
                <br><br>

                假如生活欺骗了你,<br>
                不要悲伤，不要心急!<br>
                忧郁的日子里需要镇静，<br>
                相信吧！快乐的日子将会来临。<br>
                心儿永远向往着未来，<br>
                现在却常是忧郁。<br>
                一切都是瞬息，<br>
                一切都将会过去；<br>
                而那过去了的，<br>
                就会成为亲切的怀恋。<br>
                <br>
                <br>
                <br>
        </div>
    </div>
    <div class="desc">
        <div>You have been losted, just go back.</div>
        <div><a href="/">不要迷失，总会找到家的方向。</a></div>
    </div>
</div>
{{ end }}
