{{ define "main" }}
<div class="container-main container-home">
    <!-- 第一层级 -->
    <div class="menu">
        {{ if .Site.Params.menu.nav }}
        <div class="item">
            <!-- ⚓🐶🎉👀💡👓🐌 -->
            <a href="/nav">🎯 {{if .Site.Params.en }}Nav{{ else }}导航{{ end }}</a>
        </div>
        {{ end }}

        {{ if .Site.Params.menu.search }}
        <div class="item">
            <a href="/search">🔎 {{if .Site.Params.en }}Search{{ else }}搜索{{ end }}</a>
        </div>
        {{ end }}

        {{ range where .Site.Pages "Kind" "section" }}
        {{ if ne .Title "Secrets" }}
            <div class="item">
                <a href="{{.Permalink}}">📜 {{if .Site.Params.en }}{{.Title}}{{ else }}文章{{ end }}</a>
            </div>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.menu.archive }}
        <div class="item">
            <a href="/archive">🎉 {{if .Site.Params.en }}Archive{{ else }}归档{{ end }}</a>
        </div>
        {{ end }}

        {{ if .Site.Params.menu.idea }}
        <div class="item">
            <a href="/posts/idea">💡 {{if .Site.Params.en }}Idea{{ else }}闪念{{ end }}</a>
        </div>
        {{ end }}

        {{ if .Site.Params.menu.wiki }}
        <div class="item">
            <a href="/posts/wiki">🚀 {{if .Site.Params.en }}Wiki{{ else }}百科{{ end }}</a>
        </div>
        {{ end }}

        {{ if .Site.Params.menu.about }}
        <div class="item">
            <a href="/about">🐌 {{if .Site.Params.en }}About{{ else }}关于{{ end }}</a>
        </div>
        {{ end }}

        {{ range where .Site.Pages "Kind" "taxonomy" }}
            {{ if and (ne .Title "Categories") (ne .Title "Tags")}}
            <div class="item">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </div>
            {{ end }}
        {{ end }}
    </div>

<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md-->
   <div class="content-md">
       {{.Content}}
   </div>

    <!-- [[!!! deprecated]] -->
    <div class="content">
        <div class="desc" style="display: none;">
            <!-- <img src="/imgs/lightcolor.jpg" /> -->
            <!-- <img src="/imgs/girl.jpg" />-->
            <!-- <img src="/imgs/tux.jpg" /> -->
            {{ if .Site.Params.img.src }}
            <img src="/imgs/{{ .Site.Params.img.src }}.jpg" width="{{ .Site.Params.img.width }}" />
            {{ else if .Site.Params.img.words }}
            <div class="words">{{ .Site.Params.img.words }}</div>
            {{ else }}
            <img src="/imgs/tux.jpg" width="880" />
            {{ end }}


            <!-- <div>虛怀乃若谷，水深则流缓</div> -->
        </div>

        {{ if .Site.Params.showPoem }}
        <div class="poem">
            <div class="poem-item">
                卜算子·咏梅

                毛泽东 〔近现代〕
                读陆游咏梅词，反其意而用之。

                风雨送春归，飞雪迎春到。<span class="hl">已是悬崖百丈冰，犹有花枝俏。</span>
                俏也不争春，只把春来报。待到山花烂漫时，她在丛中笑。
            </div>
            <div class="poem-item">
                忆秦娥·娄山关

                毛泽东 〔近现代〕


                西风烈，长空雁叫霜晨月。霜晨月，马蹄声碎，喇叭声咽。
                <span class="hl">雄关漫道真如铁，而今迈步从头越。</span>从头越，苍山如海，残阳如血。
            </div>
            <div class="poem-item">
                水调歌头·游泳

                毛泽东 〔近现代〕

                才饮长沙水，又食武昌鱼。万里长江横渡，极目楚天舒。<span class="hl">不管风吹浪打，胜似闲庭信步</span>，今日得宽馀。子在川上曰：逝者如斯夫！
                风樯动，龟蛇静，起宏图。一桥飞架南北，天堑变通途。更立西江石壁，截断巫山云雨，高峡出平湖。神女应无恙，当惊世界殊。
            </div>
            <div class="poem-item">
                水调歌头·重上井冈山

                毛泽东 〔近现代〕

                久有凌云志，重上井冈山。千里来寻故地，旧貌变新颜。到处莺歌燕舞，更有潺潺流水，高路入云端。过了黄洋界，险处不须看。
                风雷动，旌旗奋，是人寰。三十八年过去，弹指一挥间。<span class="hl">可上九天揽月，可下五洋捉鳖，谈笑凯歌还。</span>世上无难事，只要肯登攀。
            </div>

            <div class="poem-item">
                满江红·和郭沫若同志

                毛泽东 〔近现代〕

                小小寰球，有几个苍蝇碰壁。嗡嗡叫，几声凄厉，几声抽泣。蚂蚁缘槐夸大国，蚍蜉撼树谈何易。正西风落叶下长安，飞鸣镝。
                <span class="hl">多少事，从来急；天地转，光阴迫。一万年太久，只争朝夕。</span>四海翻腾云水怒，五洲震荡风雷激。要扫除一切害人虫，全无敌。                
            </div>
            <div class="poem-item">
                念奴娇·昆仑

                毛泽东 〔近现代〕

                横空出世，莽昆仑，阅尽人间春色。飞起玉龙三百万，搅得周天寒彻。夏日消溶，江河横溢，人或为鱼鳖。<span class="hl">千秋功罪，谁人曾与评说？</span>
                而今我谓昆仑，不要这高，不要这多雪。安得倚天抽宝剑，把汝裁为三截？一截遗欧，一截赠美，一截还东国。太平世界，环球同此凉热。                
            </div>

            <div class="poem-item">
                <img src="imgs/bg/zx.jpg" alt="">
            </div>
            <div class="poem-item">
                <img src="imgs/bg/zl.jpg" alt="">
            </div>

            <div class="poem-item">
                大江歌罢掉头东

                周恩来 〔近现代〕

                大江歌罢掉头东，邃密群科济世穷。
                <span class="hl">面壁十年图破壁，难酬蹈海亦英雄。</span>

                总理的诗词很少，听说，他写了不少，写了之后便销毁了。海棠花开花又落，难忘窗前赏花人。
            </div>
        </div>
        {{ end }}
        {{- partial "partials/_contact.html" . -}}
    </div>

</div>
{{ end }}