{{ define "main" }}
<div class="container-main container-home">
<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md-->
   <div class="content-md">
       {{.Content}}
   </div>

    <!-- {{- partial "partials/_media.html" . -}} -->
    {{- partial "partials/_contact.html" . -}}

    <div class="content">
        <div class="desc">
            <a href="{{ with .Site.Params.img.link }}{{.}}{{else}}/about{{end}}">
                <div class="img-wrapper" style="background: {{ with .Site.Params.img.background }}{{.}}{{end}};">
                    {{if .Site.Params.img.src }}
                    <img src="/imgs/{{ .Site.Params.img.src }}" width="{{ with .Site.Params.img.width }}{{.}}{{end}}" />
                    {{ else }}
                    <img src="/imgs/cat.svg" width="100" />
                    {{ end }}
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="count">共有 {{ len .Pages }} 篇文章</div> -->
    {{- partial "partials/_archive.html" . -}}



</div>
{{ end }}