.container-archive {
    .desc {
        font-size: .20rem;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;

        .ctg-item {
            padding: 4px;
            background: $gray-100;
            margin: 12px 8px;
            width: 31%;
            box-sizing: border-box;

            .ctg-desc {
                padding: 8px 0;
                a {
                    font-size: .16rem;

                    sup {
                        color: $gray-300;
                    }
                }
            }

            .ctg-post {
                display: flex;
                flex-wrap: wrap;

                .ctg-post-item {
                    a {
                        font-size: .14rem;
                        display: inline-block;
                        background: #eee;
                        margin: 4px;
                        padding: 4px 8px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

}