.container-home {
    font-family: $font-family--some;

    .menu {
        position: absolute;
        right: $site-padding-lr - 8;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-size: 0.14rem;
        .item {
            a {
                display: block;
                margin: 4px 8px;
                padding: 8px;
                width: 96px;
                background: $gray-white-400;
                border-radius: 8px;
                text-align: center;
                transition: .3s all ease;

               &:hover {
                padding: 24px 8px;
            }
           }
        }
    }

    .content {
        text-align: center;
        .desc {
            padding-top: 96px; // For Menu Bar
            img {
                max-width: 100%;
            }
        }
    }
}
