.container-home {
    font-family: $font-family--some, $font-family--xianmo, $font-family--base;

    .menu {
        height: 108px;
        // background: #000;
        box-sizing: border-box;
        // position: absolute;
        // right: $site-padding-lr;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-size: 0.14rem;
        .item {
            a {
                display: block;
                margin: 4px 8px;
                padding: 8px;
                width: 96px;
                background: $gray-white-400;
                border-radius: 6px;
                text-align: center;
                transition: .3s padding ease;
                // box-shadow: 1px 1px 3px $gray-300;

               &:hover {
                padding: 24px 8px;
            }
           }
        }
    }

    .content {
        text-align: center;
        .desc {
            padding-top: 96px; // For Menu Bar
            img {
                max-width: 100%;
            }

            .words {
                box-sizing: border-box;
                font-family:$font-family--xianmo, $font-family--base;
                font-size: .24rem;
                color: $gray-500;
                max-width: 600px;
                min-height: 269px;
                padding: 16px 32px;
                // background-color: $gray-white-300;
                // backdrop-filter: blur(10px);
                // background: $white-300;
                // backdrop-filter: blur(3px);
                border-radius: 10px;
                // margin: 80px 0px 96px 0%;
                margin: 120px auto 160px;
            }
        }

        .poem {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .poem-item {
                flex-shrink: 0;
                font-size: .18rem;
                color: $gray-500;
                white-space:pre-line;
                box-sizing: border-box;
                background: $white-300;
                backdrop-filter: blur(3px);
                width: 49%;
                margin: 16px 0;
                padding: 16px 16px 32px;
                transition: .1s background-color linear;

                &:hover {
                    background: $white-600;
                }
            }
        }

        

    }
}
