.container-list {
    font-size: 0.16rem;

    .count {
        color: $gray-600;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        $item-width: 360px;

        .item {
            background: $post-item-bg-color;
            // backdrop-filter: blur(10px);

            border-radius: 0 16px 0 8px;
            margin-right: 32px;
            margin-top: 48px;
            width: $item-width;
            overflow: hidden;

            >a {
                box-sizing: border-box;
                width: 100%;
                display: block;
                background: $gray-white-300;
                // backdrop-filter: blur(10px);

                margin-bottom: 8px;
                padding: 6px 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-radius: 0 16px 0 8px;
                transition: 0.3s all ease;

                &:hover {
                    padding-left: 16px;
                }

                .date {
                    color: #999;
                    font-size: 0.12rem;
                    font-family: $font-family--some;
                    margin-right: 4px;
                }
            }

            .summary {
                padding: 8px;
                color: $gray-600;
            }
        }

        .item-term {
            margin: 4px;
             width: $item-width;
            a {
                box-sizing: border-box;
                height: 80px;
                display: block;
                background: $gray-white-300;
                // backdrop-filter: blur(10px);

                margin-bottom: 8px;
                padding: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-radius: 0 16px 0 16px;
                transition: 0.3s all ease;

                &:hover {
                    padding-top: 16px;
                }

                .date {
                    color: #999;
                    font-size: 0.12rem;
                    font-family: $font-family--some;
                    margin-right: 4px;
                }
            }

            sup {
                color: $gray-500;
            }
        }
    }
}
