.container-nav {
    padding: 0 16%;

    .toc {
        border-width: 0;
        right: 72px;

        ul > li > ul > li {
            line-height: 28px;
            list-style: none;
            border-radius: 8px;
            margin: 6px 0;
            border-style: double;
            border: 1px dashed $gray-white-900;
            box-sizing: border-box;
            overflow: hidden;
            transition: .2s all linear;

            em {
                color: #666;
            }

            a {
                display: block;
                padding: 4px 8px;
                transition: .1s all linear;
                color: #666;

                &:hover {
                    padding-left: 28px;
                    background: $gray-white-500;

                    em {
                        opacity: 0;
                    }
                }
            }
        }

    }

    .content-nav {
        h3 {
            font-size: .16rem;
            padding-top: 0;
            padding-bottom: 16px;
            &::before {
                content: '';
            }
        }

        table {
            // width: 100%;

            thead {
                display: none;
            }
        }

        ul {
            padding: 4px;
            overflow: hidden;
            white-space: nowrap;

            &:hover {
                overflow: auto;
            }

            li {
                list-style-type: none;
                transition: .3s padding linear;
                border-radius: 1px 5px 1px 5px;
                padding-left: 4px;

                &::before {
                    content: '➣ ';
                }
                &:hover {
                    padding-left: 16px;
                }

                a {
                    display: inline-block;
                    width: 100%;
                    padding: 6px 0;
                }

                &:nth-child(even) {
                    background: $gray-white-600;

                }
            }
        }
    }
}
