.container-search {
    font-size: 0.16rem;

    #search {
        padding: 32px 0;
        position: relative;
        #sc-clear {
            cursor: pointer;
            transition: .5s opacity ease;
            position: absolute;
        }

        #sc-input {
            outline-style: none;
            border: 0px;
            border-bottom: 1px solid #5DADE2;
            padding-bottom: 8px;
            padding-left: 32px;
            font-family: $font-family--base;
            width: 500px;
            background: $white-000;


            &:focus-visible {
                border-color: #0dcaf0;
            }

            &::placeholder {
                color: $gray-300;
                font-family: $font-family--some;
            }
        }

        #sc-res {
            .statistics {
                padding: 16px 0 0 56px;
                color: $gray-500;
            }

            hr {
                border: 1px dashed #ccc;
                margin: 8px 0;
            }
        }
    }


    .list {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        $item-width: 360px;

        .item {
            box-shadow: 3px 3px 5px #eee;
            background: $post-item-bg-color;
            margin-right: 32px;
            margin-top: 48px;
            width: $item-width;
            overflow: hidden;

            > a {
                box-sizing: border-box;
                width: 100%;
                display: block;
                background: $gray-white-200;
                margin-bottom: 8px;
                padding: 6px 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: 0.3s padding ease;

                &:hover {
                    padding-left: 16px;
                }

                .date {
                    color: #999;
                    font-size: 0.12rem;
                    font-family: $font-family--some;
                    margin-right: 4px;
                }
            }

            .summary {
                font-size: .15rem;
                padding: 8px;
                color: $gray-600;
            }
        }
    }
    .list-single-col {
        .item {
            width: 60%;
            // margin-left: 24%;
            margin: 24px auto;
        }
    }
}
